.Footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(112, 147, 237);
    color: white;
    display: flex;
 }

 .footer-content{
    margin: auto;
    padding: 5px;
    text-decoration: none;
 }
 
